<!doctype html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/site.css">
  </head>
  <body>
  <a href="/">Back home</a>
   <br>
    <h1>QUIT YELLING AT ME</h1>
    <p>
      <b>Message:</b>
      {{ messageDisplayText }} <!--  anything with mustache must be added to model -->
    </p>
    {{> helloworld/message-form }} <!-- add a file here; this is the loud message  -->
    <!--  {{> helloworld/message-form2 }}  -->
    {{> helloworld/adder-form }}
    {{> helloworld/subtractor-form }}
  </body>
</html>
