<form method="post" action="/math/calculate">
  <input type="number" name="leftval" value="0" required>
  +
  <input type="number" name="rightval" value="0" step="any" required>
  <br><br>
  <button name="operation" value="add">+</button>
  <button name="operation" value="subtract">-</button>
  <button name="operation" value="multiply">*</button>
  <button name="operation" value="divide">/</button>
  <button name="operation" value="modulo">%</button>
  <button name="operation" value="exponent">x<sup>n</sup></button> 
</form> 
